* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
}

header {
    background-color: #0d1117;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.socials a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: 0.3s;
}

.socials a:hover {
    color: #00acee;
}

section {
    padding: 60px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

section:nth-child(even) {
    background-color: #e0e0e0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #0d1117;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

ul li a {
    color: #0d6efd;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0d1117;
    color: #fff;
}
